extends layout

block content
  include ./includes/common.pug

  .col-xs-12.col-md-12
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      .cardSpacer
        span.fas.fa-exclamation-triangle(style='margin-right:5px')
        strong #{settings.locale.ex_warning}
      div This market has no data to display.   