/* Add custom css rules here */
.hover-effect {
    vertical-align: middle !important;
    opacity: 0.6;
    height: auto;
    transition: transform 0.3s ease;
}

.hover-effect:hover {
    opacity: 1.0;
    border: 0px solid transparent;
}
